{% extends "base.html" %}
{% block title %}
About
{% end %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <h2>About This Site</h2>
        </div>
        <div class="text-center">
            <p>Python third packages trending according to downloads count on PyPi.</p>
            <p>update downloads info every day.</p>
            <p>Just For Fun</p>
        </div>
    </div>
</div>

{% end %}
