{% extends "base.html" %}
{% block title %}
Trending
{% end %}
{% block body %}
{% set page_count=handler.settings.get('page_count') %}
{% set SINCE=dict(last_day='Last Day',last_week='Last Week',last_month='Last Month') %}
<div class="container">
    <div class="row">
        <div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span>Trending Lists For {{ SINCE[since] }}</span>
                    <div class="pull-right action-buttons">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog" style="margin-right: 0px;"></span>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li><a href="/trending?{{ "since=last_day&page={0}".format(page) }}">Last Day</a></li>
                                <li><a href="/trending?{{ "since=last_week&page={0}".format(page) }}">Last Week</a></li>
                                <li><a href="/trending?{{ "since=last_month&page={0}".format(page) }}">Last Month</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Package Name</th>
                          <th>Homepage</th>
                          <th>Last Day</th>
                          <th>Last Week</th>
                          <th>Last Month</th>
                          <th>Update Time(UTC)</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% if packages %}
                      {% for i,p in enumerate(packages, start=(page-1)*page_count+1) %}
                        <tr>
                            <td>{{ i }}</td>
                            <td><a href="{{ p['package_url'] }}" title="Go To PyPi" target="_blank">{{ p['name'] }}</a></td>
                            <td><span class="glyphicon glyphicon-home"></span><a href="{{ p['home_page'] }}" title="Homepage" target="_blank">{{ p['home_page'] }}</a></td>
                            <td {% if since=='last_day' %}class="info"{% end %}>{{ p['last_day'] }}</td>
                            <td {% if since=='last_week' %}class="info"{% end %}>{{ p['last_week'] }}</td>
                            <td {% if since=='last_month' %}class="info"{% end %}>{{ p['last_month'] }}</td>
                            <td>{{ p['update_time'].strftime("%Y-%m-%d %H:%M:%S") }}</td>
                        </tr>
                        {% end %}
                        {% else %}
                        <tr>
                            <td>1</td>
                            <td>None</td>
                            <td>None</td>
                            <td>None</td>
                            <td>None</td>
                            <td>None</td>
                        </tr>
                        {% end %}

                      </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="text-center">
                            <ul class="pagination pagination-large">
                                {% if page<=1 %}
                                <li class="disabled"><span>Previous Page</span></li>
                                {% else %}
                                <li><a href="/trending?{{ "since={0}&page={1}".format(since, page-1) }}">Previous Page</a></li>
                                {% end %}
                                <li class="active"><span>Current Page {{ page }}</span></li>
                                {% if len(packages) < handler.settings.get('page_count') %}
                                <li class="disabled"><span>Next Page</span></li>
                                {% else %}
                                <li><a href="/trending?{{ "since={0}&page={1}".format(since, page+1) }}">Next Page</a></li>
                                {% end %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}
